@charset "utf-8";
/* CSS Document */
.gecici{width: 500px ; height: 100px ;}
.col-lg-7{margin-left: 400px;margin-top: -310px}
.row{margin-top: 100px}
.info{background-color: black;width: 500px;height: 900px;margin-top:-500px;margin-left: 700px}